@model IEnumerable<AlbergueAnimal.Models.Animal>

<br />
@{
    ViewData["Title"] = "Animais";
}

<br />
<p>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>

        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ol>
</p>

<h2>Animais</h2>



@if (User.IsInRole("Administrator"))
{
    <p>
        <a asp-action="Create">Inserir Animal</a> | <a asp-action="IndexArquivo">Arquivo</a> | @Html.ActionLink("Imprimir", "AnimaisPDF", "Animals")
        @* string linkText, string actionName, string controllerName*@
    </p>
}


<table class="table">
    <thead>
        <tr>
            <th>
                Fotografia
            </th>
            <th>
                @Html.ActionLink("Nome", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cor)
            </th>
            <th>
                @Html.ActionLink("Data De Nascimento", "Index", new { sortOrder = ViewBag.DateSortParm })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEntrada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataVacina)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Raca)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @{
                        if (item.imageContent != null && item.imageMimeType.Contains("image"))
                        {
                            string imageBase64 = Convert.ToBase64String(item.imageContent);
                            string imageSrc = string.Format("data:" + item.imageMimeType + ";base64,{0}", imageBase64);
                            <img src="@imageSrc" alt="Profile picture of @item.Nome" style=" width: 50px;height: 50px; border-radius: 50%; padding: 0;width: 50px;height: 50px; line-height: 50px;" class="img-responsive img-rounded" />
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataNascimento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataEntrada)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataVacina)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Raca.Designacao)
                </td>
                @if (User.IsInRole("Administrator"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.AnimalId">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.AnimalId">Visualizar</a> |
                        <a asp-action="Delete" asp-route-id="@item.AnimalId">Arquivar</a>
                        @*@Html.ActionLink("Adptar", "CreateAnimalAdoption", "Adocao",  item.AnimalId);*@
                    </td>
                }
                else
                {
                    <td>
                        <a asp-action="Details" asp-route-id="@item.AnimalId">Visualizar</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

<br />

<style>
    .center {
        padding-left: 1050px;
    }
</style>

@using (Html.BeginForm())
{
    <p>
        Procurar: @Html.TextBox("SearchString")
        <!--<input type="submit" value="Procurar" />-->
        <button type="submit" class="btn btn-default">Procurar</button>

        <!--@if (ViewBag.Page > 0)
        {
            <a href="@Url.Action("Index", new { page = ViewBag.Page - 1 })"
               class="btn btn-default">
                &laquo; Anterior
            </a>
        }
        @if (ViewBag.Page < ViewBag.MaxPage)
        {
            <a href="@Url.Action("Index", new { page = ViewBag.Page + 1 })"
               class="btn btn-default">
                Seguinte &raquo;
            </a>
        }-->
    </p>
}











@*<style>
        .inforide {
            box-shadow: 1px 2px 8px 0px #f1f1f1;
            background-color: white;
            border-radius: 8px;
            height: 125px;
        }

        .ridetwo {
            background-color: #9A75FE;
            padding-top: 30px;
            border-radius: 8px 0px 0px 8px;
            text-align: center;
            height: 125px;
            margin-left: 15px;
        }

        .fontsty {
            margin-right: -15px;
        }

            .fontsty h2 {
                color: #6E6E6E;
                font-size: 35px;
                margin-top: 15px;
                text-align: right;
                margin-right: 30px;
            }

            .fontsty h4 {
                color: #6E6E6E;
                font-size: 25px;
                margin-top: 20px;
                text-align: right;
                margin-right: 30px;
            }

        .ridetwo img {
            width: 60%;
        }
    </style>


    <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4">
        <div class="inforide">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-4 col-4 ridetwo">
                    <img src="~/images/1093px-Black_Paw.svg.png">
                </div>
                <div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
                    <h4>Animais</h4>
                    <h2>120</h2>
                </div>
            </div>
        </div>
    </div>*@







@section Scripts{



    <script src="~/amcharts4/core.js"></script>
    <script src="~/amcharts4/charts.js"></script>
    <script src="~/amcharts4/themes/animated.js"></script>
    <link href="~/amcharts4/examples/javascript/simple-pie-chart/index.css" rel="stylesheet" />
    <script>
        am4core.useTheme(am4themes_animated);

        var chart = am4core.create("chartdiv", am4charts.PieChart);

        chart.data =

            [

                {
                    "country": "Labrador",
                    "litres": @Model.Where(a => a.Raca.Designacao.Equals("Labrador")).Where(z => z.Arquivado == false).ToList().LongCount()
                },
              {
                  "country": "Beagle",
                    "litres":@Model.Where(a => a.Raca.Designacao.Equals("Beagle")).Where(z => z.Arquivado == false).ToList().LongCount()
                },
                {
                  "country": "Pastor Alemão",
                    "litres":@Model.Where(a => a.Raca.Designacao.Equals("Pastor-Alemão")).Where(z => z.Arquivado == false).ToList().LongCount()
                }
                ,
                {
                  "country": "Dálmata",
                    "litres":@Model.Where(a => a.Raca.Designacao.Equals("Dálmata")).Where(z => z.Arquivado == false).ToList().LongCount()
                }
            ];





        var series = chart.series.push(new am4charts.PieSeries());
        series.dataFields.value = "litres";
        series.dataFields.category = "country";

        // this creates initial animation
        series.hiddenState.properties.opacity = 1;
        series.hiddenState.properties.endAngle = -90;
        series.hiddenState.properties.startAngle = -90;


        chart.legend = new am4charts.Legend();
    </script>



}


@if (User.IsInRole("Administrator") || User.IsInRole("Gestor Animais"))
{
    <!-- HTML -->
    <div id="chartdiv"></div>
}