@model IEnumerable<AlbergueAnimal.Models.Animal>

@{
    ViewData["Title"] = "viewAnimaisPdf";
}
@{
    Layout = null;
}
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

  
</style>
<h2>Ficha Animais</h2>

<p>
    @*<a asp-action="Create">Create New</a>*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Fotografia
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEntrada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataVacina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Arquivado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Raca)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @{
                    if (item.imageContent != null && item.imageMimeType.Contains("image"))
                    {
                        string imageBase64 = Convert.ToBase64String(item.imageContent);
                        string imageSrc = string.Format("data:" + item.imageMimeType + ";base64,{0}", imageBase64);
                        <img src="@imageSrc" alt="Profile picture of @item.Nome" style=" width: 50px;height: 50px; border-radius: 50%; padding: 0;width: 50px;height: 50px; line-height: 50px;" class="img-responsive img-rounded" />
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataEntrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataVacina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Arquivado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Raca.Designacao)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.AnimalId">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.AnimalId">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.AnimalId">Delete</a>*@
            </td>
        </tr>
        }
    </tbody>
</table>
