@model IEnumerable<AlbergueAnimal.Models.Adocao>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@if (User.IsInRole("Administrator"))
{
    <p>
        <a asp-action="Create">Registar Adoção</a> | <a asp-action="IndexArquivo">Arquivo</a>
    </p>


}
else
{
    <a asp-action="Create">Adotar Animal</a>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastUpdated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Arquivado)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Animal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Utilizador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoAdocao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Arquivado)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Animal.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Utilizador.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoAdocao.estado)
            </td>

            @if (User.IsInRole("Administrator"))
            {
                <td>
                    <a>@Html.ActionLink("Imprimir", "PrintAdoptionSlip", new { id = item.AdocaoId })</a> |
                    <a asp-action="Edit" asp-route-id="@item.AdocaoId">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.AdocaoId">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.AdocaoId">Arquivar</a>
                </td>
            }

        </tr>
        }
    </tbody>
</table>



@using (Html.BeginForm())
{
    <p>
        Procurar: @Html.TextBox("SearchString")
        <button type="submit" class="btn btn-default">Procurar</button>
    </p>
}

