@model IEnumerable<AlbergueAnimal.Models.Raca>

@{
    ViewData["Title"] = "Raças";
}

<h2>Raças</h2>

<p>
    <a asp-action="Create">Inserir Raça</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Designacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Designacao)
            </td>
            @if (User.IsInRole("Administrator"))
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.RacaId">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.RacaId">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.RacaId">Remover</a>
                </td>
            }
            else
            {
                <td>
                    <a asp-action="Details" asp-route-id="@item.RacaId">Detalhes</a>
                </td>
            }
        </tr>
}
    </tbody>
</table>
